.item-container{
  background-color: rgb(39, 37, 37);
  opacity: 0.7;
  padding: 1px;
   width:40vh;
   margin-bottom: 60px;
   border-radius: 20px;
   color: antiquewhite;
   font-size: large;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   transition: opacity 0.3s,
   box-shadow 0.3s;
   min-height: 398px;

}
.item-container:hover{
  opacity: 1;
box-shadow:0px 0px 10px rgba(69, 66, 121, 0.904) ;

}
.image-container{
 width:80%;
  object-fit: cover;
  border-radius: 20px;
  margin: 20px;
  height: 295px;
}
.name-container{
  margin-bottom: 20px;
  width: 200px;
  text-align: center;
  justify-content: center;
}
a{
  text-decoration: none;
}